**/target
**/target/*
.classpath
.project
/.settings
/.settings/**
**/.classpath
**/.project
**/.settings
**/.settings/**
/.idea
/*.iml
**/*.iml
**/logs
.DS_*
*.releaseBackup
release.properties
app_community/src/test/java/qyj/*